:root {
  --ayu-bg: #0d1017;
  --ayu-fg: #bfbdb6;
  --ayu-comment: #acb6bf8c;
  --ayu-ui-bg: #0b0e14;
  --ayu-ui-line: #11151c;
  --ayu-selection-normal: #47526633;
  --ayu-selection-normal-opaque: #181d26;
  --ayu-selection-active: #47526640;
  --ayu-func: #ffb454;
  --ayu-special: #e6b673dd;
  --ayu-operator: #f29668dd;
}

::placeholder {
  color: var(--ayu-comment);
}

html,
body {
  margin: 0px;
  height: 100%;
  background-color: var(--ayu-bg);
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#mynetwork {
  width: 100%;
  height: 100%;
  background-color: var(--ayu-bg);
}
body {
  background-color: var(--ayu-bg);
}

#add-card-form {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;

  margin: 0.7em;
  border: 0.15em solid var(--ayu-special);
  background-color: var(--ayu-selection-normal);
  border-radius: 0.4em;
}
#add-card-picker,
#redirect-text {
  font-size: 3.4em;
  font-family: monospace;
  color: var(--ayu-fg);
  width: fit-content;
  background: none;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
}
#add-card-picker:focus,
input:focus {
  outline: none;
}

#add-card-submit {
  color: var(--ayu-fg);
  display: none;
  background: none;
  border: 0;
  margin-left: 0.1em;
  box-shadow: none;
  border-radius: 0px;
  font-size: 2.65em;
  padding: 0;
  cursor: pointer;
}

#reset-network {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3em;
  font-size: 4em;
  background: none;
  border: 0;
  margin-left: 0.1em;
  box-shadow: none;
  border-radius: 0px;
  padding: 0;
  cursor: pointer;
  color: var(--ayu-comment);
}

#reset-network:hover {
  color: var(--ayu-fg);
}

.awesomplete > ul {
  margin: 0.7em;
  border: 0.15em solid var(--ayu-special);
  background: var(--ayu-selection-normal);
  border-radius: 0.4em;
  font-size: 1.7em;
  font-family: monospace;
  color: var(--ayu-fg);

  min-width: max-content;
  max-width: 75vw;
}

.awesomplete > ul:before {
  background: var(--ayu-selection-normal-opaque);
}

.awesomplete > ul > li:hover,
.awesomplete > ul > li[aria-selected="true"] {
  background: var(--ayu-selection-active);
  color: var(--ayu-fg);
}

.awesomplete mark,
.awesomplete li:hover mark,
.awesomplete li[aria-selected="true"] mark {
  background: none;
  color: inherit;
}
